.App{
  height: 100%;
  width: 100%;
  background:rgb(44, 44, 44);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none; 
}
::-webkit-scrollbar {
  display: none;
}

.form-layout{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 250px;
}

.form-layout label{
  padding-top:20px;
  padding-bottom: 10px;
}
.form-layout input{
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  height: 40px;
  padding-left: 15px;
  font-size: 16px;
}

.to-sign-up{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
}

.sign-in-button{
  position:relative;
  margin-top: 50px;
  border-radius: 30px;
  height: 50px;
  border:unset;
  background-color: #4b4b4b;
  color:white;
  font-size: 20pt;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
}
.sign-in-button::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 0;
  width: 0;
  /* z-index: -1; */
  background-color: rgba(109, 109, 109, 0.3);
  transform-origin: right ;
  transition: all 0.2s;
  border-radius: 50%;
}
.sign-in-button:active::before {
  width: 300px;
  height: 300px;
}

.sign-layout{
  display: flex;
  height: auto;
  width: inherit;
  justify-content: center;
  padding: 50px 0;
}
.login-layout{
  height: 100%;
    align-items: center;
}
.sign-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 20px;
  /* margin: 50px 0; */
  /* overflow: scroll; */
}

a{
  color: #4b4b4b;
  font-weight: bold;
}

.big-button {
  margin: 15px;
  position: relative;
  border-radius: 15px;
  height: 100px;
  min-width: 100px;
  width: 100%;
  color: white;
  background-color: #4b4b4b;
  cursor: pointer;
  border: none;
  font-size: 32pt;
  box-shadow: 0px 0px 8px 3px rgb(94, 94, 94);
  
}
.big-button::before{
  content: "";
  border-radius: 15px;
  position:absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-color: rgb(162, 174, 175);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}
.big-button:hover::before{
  border-radius: 15px;
  content: "";
  width: 100%;
  visibility: visible;
}
.button-text{
  position: relative;
  z-index: 1;
  color:white;
  transition: color 0.2s;
}

.big-button:hover .button-text{color:black;}

.home-content{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
  color:white
}

.home-content-left{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navbar{
  position:sticky;
  top:0;
  height: 48px;
  width: 100%;
  background-color: #9c9c9c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* max-width: -webkit-fill-available;
  padding: 0 10px; */
}

.navbar div{
  margin-right: 10px;
  color: rgb(24, 24, 24);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.navbar div:hover{
  color: rgb(214, 214, 214);
}

.persist-check{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 10px 0;
}
.persist-check input{
  height: auto;
  cursor: pointer;
}
.persist-check label{
  padding: unset;
  cursor: pointer;
}
.persist-check input[type="checkbox"]{
  height: 18px;
  width: 18px;
}

.error-message{
  color:red;
  letter-spacing: 0.75px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.off-screen{
  display: none;
}

.input-remind{
  background-color: black;
  border-radius: 15px;
  text-align: left;
  color: white;
  padding:10px;
  max-width: 230px;
}

select{
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  height: 44px;
}
select:active{
  border: 0 0 0 1px rgb(252, 183, 183);
}

.drop-down-body{
  display: flex;
  flex-direction: column;
  min-height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position:relative;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
}
.drop-down-display{
  display: flex;
  text-align: left;
  min-height: inherit;
  font-size: 16px;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
}
.drop-down-options-layout{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  width: 100%;
  position:absolute;
  background-color: white;
  top:100%;
  overflow: hidden;
}
.drop-down-option{
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 36px;
  padding: 0 10px;
  transition:all 0.2s;
}
.drop-down-option:hover{
  background-color: #4f4f4f;
  color: white;
}

.close-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.padding-top-down{
  padding: 20px 0;
}
.sign-up-button{
  border: unset;
  border-radius: 10px;
  width: 100%;
  height: 42px;
  color:white;
  letter-spacing: 1px;
  background-color: #6b6b6b;
  cursor: pointer;
}

.input-remind-hint{
  white-space: pre-wrap;
}

.action-sheet__wrapper{
  position:absolute;
  display: flex;
  background-color: rgba(59, 59, 59, 0.3);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.action-sheet__container{
  display: flex;
  flex-direction: column;
  width: clamp(350px,50%,600px);
  height: clamp(300px,40%,500px);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 30px 1px rgb(31, 31, 31);
  animation: slide-in .3s;
}

@keyframes slide-in{
  0%{transform: translateY(10%);}
  100%{transform: translateY(0);}
}