.App{
  height: 100%;
  width: 100%;
  background:#fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.form-layout{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 250px;
}

.form-layout label{
  padding-top:20px;
  padding-bottom: 10px;
}
.form-layout input{
  border: 1px solid rgb(188, 225, 255);
  border-radius: 10px;
  height: 20px;
  padding-left: 15px;
}